@import "src/assets/styles/media-rules";

.night-mode {
  background: #1B242E !important;
}

.header {
  animation-name: slide-up;
  animation-duration: 0.5s;
  background: #2d2d2d;
  color: #fff;

  &-nav {
    &-ul {
      display: flex;
      //align-items: center;
      //@include mobile {
      justify-content: center;
      //}

      &-li {

        a {
          text-decoration: unset;
          color: #fff;
          display: flex;
          min-height: 50px;
          align-items: center;
          transition: all 0.4s;
          flex-direction: column;
          justify-content: center;
          //@include mobile {
          padding: 15px 20px;
          //}

          .far, .fas {
            //display: none;
            margin-bottom: 15px;

            //@include mobile {
            display: flex;
            //}
          }
        }

        a.active {
          background: #2E3C49;
        }
      }
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(150px)
  }
  100% {
    transform: translateY(0px)
  }
}
