@import "src/assets/styles/media-rules";

.night-mode {
  background: #131C24 !important;
}

.app {
  &-content {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #F4F4F4;
    @include mobile {
      flex-direction: column-reverse;
    }

    &-router_outlet {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
