<div
  class="forecast-weather"
  [class.night-mode]="nightMode | async"
>
  <div class="container">
    <div class="forecast-card">
      <div class="forecast-card-header">
        <div class="forecast-card-header-title" *ngIf="activatedForecast">
          {{ activatedForecast['date']['day'] }}
        </div>
        <div class="forecast-card-header-arrows"></div>
      </div>
      <div class="forecast-card-body" *ngIf="forecastMap.size!==0">
        <mat-tab-group (selectedTabChange)="selectWeather($event)" focusTab="5">
          <ng-container *ngFor="let item of forecastMap | keyvalue">
            <mat-tab [label]=" currentDate===item.key ? 'Today' : item.value['date']['day'] | limit:3">
              <ng-container *ngFor="let forecast of activatedForecast['list']">
                <app-forecast-item
                  [nightMode]="nightMode | async"
                  [forecast]="forecast"
                  [currentDate]="forecast['generatedDate']"
                ></app-forecast-item>
              </ng-container>
            </mat-tab>
          </ng-container>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
