@import "src/assets/styles/media-rules";

.forecast-weather {
  width: 100vw;
}

.night-mode {
  .forecast {
    &-card {
      background: #1B242E;
    }
  }

  :host ::ng-deep {

    .mat-tab-header-pagination-chevron {
      border-color: #fff !important;
    }

    .mat-tab-label {
      color: #fff !important
    }
  }


}

:host ::ng-deep {
  .mat-tab-group {
    max-height: 400px;
  }

  .mat-tab-label {
    min-width: min-content;
    flex-grow: 1;
    @include mobile {
      min-width: auto;
    }
  }
}

.forecast {
  &-card {
    background: #DEE2E6;
    box-shadow: -1px 0px 13px -2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation-name: slide-right;
    animation-duration: 0.5s;

    &-body {
      height: 100%;
      flex: 1;
      min-height: 400px;
      max-height: 400px;
    }

    &-header {
      padding: 20px;
      font-family: 'Bree Serif', serif;
      background: #1D2934;
      font-size: 25px;
      color: #ffffff;
    }

    &-navigation {
      display: flex;
      background: #1D2934;
      color: #ffffff;
      padding: 0 15px;
      border-top: 1px solid #808080;
      @include mobile {
        padding: 0;
      }

      &-item.active {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          background: #A02E33;
          height: 2px;
          width: 100%;
          transition: all 0.4s;
        }

        span {
          position: relative;
          z-index: 1;
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: #2E3C49;
        }
      }

      &-item {
        height: 50px;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-grow: 1;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50px)
  }
  100% {
    transform: translateX(0px)
  }
}
